.navbar-nav .btn {
    margin-bottom: 5px;
}

.container .card {
    margin-top: 100px;
    margin-bottom: 40px;
}

.card-body h5 {
    margin: 50px 0 100px 0;
    font-size: 34px;
}

/* desktop version */
@media (min-width: 992px) {
    .navbar-nav .btn {
        margin-right: 5px;
    }
}